name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest coverage

      - run: |
          cd $GITHUB_WORKSPACE
          pip install .

      - run: pip show tx

      - run: |
          export PYTHONPATH=$PYTHONPATH:$GITHUB_WORKSPACE
          coverage run -m pytest -vv
          coverage report
          coverage xml

      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
