name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - run: |
          cd $GITHUB_WORKSPACE
          pip install .

      - run: pip show tx

      - run: |
          export PYTHONPATH=$PYTHONPATH:$GITHUB_WORKSPACE
          coverage run -m pytest -vv
          coverage report
          coverage xml

      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml

  doxygen:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Generate Doxygen documentation
        run: doxygen Doxyfile

      - name: Upload Doxygen HTML Docs
        uses: actions/upload-artifact@v4
        with:
          name: doxygen-html-docs
          path: docs/html
